.stats-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin:30px 0;
}

.stats-card{
    background:linear-gradient(135deg,#1f2937,#293548);
    color:white;
    border-radius:18px;
    padding:30px;
    text-align:center;
    transition:.3s;
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.stats-card:hover{
    transform:translateY(-6px);
}

.stats-card svg{
    font-size:40px;
    color:#38bdf8;
    margin-bottom:15px;
}

.stats-card h2{
    font-size:42px;
    margin:10px 0;
}

.stats-card p{
    color:#d1d5db;
}

@media(max-width:768px){
.stats-grid{
grid-template-columns:1fr;
}
}